<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nisablossom">

        <!-- Splash Screen sebagai Launcher -->
        <activity
            android:name=".Home.pertemuan_6.Splash_Activity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".Home.onboarding.OnBoardingActivity"
            android:exported="false"/>

        <activity
            android:name=".AuthActivity"
            android:exported="false"/>

        <activity
            android:name=".RegisterActivity"
            android:exported="false"/>

        <activity
            android:name=".BaseActivity"
            android:exported="false"/>

        <!-- Pertemuan 2 -->
        <activity
            android:name=".pertemuan_2.MainActivity"
            android:exported="false"/>

        <!-- Pertemuan 3 -->
        <activity
            android:name=".Home.pertemuan_3.LoginActivity"
            android:exported="false"/>

        <!-- Pertemuan 4 -->
        <activity
            android:name=".Home.pertemuan_4.DashboardActivity"
            android:exported="false"/>

        <activity
            android:name=".Home.pertemuan_4.Custom_1Activity"
            android:exported="false"/>

        <activity
            android:name=".Home.pertemuan_4.Custom_2Activity"
            android:exported="false"/>

        <!-- Pertemuan 6 -->
        <activity
            android:name=".Home.pertemuan_6.WebView_Activity"
            android:exported="false"/>

        <!-- Pertemuan 9 -->
        <activity
            android:name=".Home.pertemuan_9.NinthActivity"
            android:exported="false"/>

        <activity
            android:name=".Home.pertemuan_9.settings.SettingsActivity"
            android:exported="false"/>

        <!-- Pertemuan 10 -->
        <activity
            android:name=".Home.pertemuan_10.TenthActivity"
            android:exported="false"/>
        <activity
            android:name=".Note.NoteFormActivity"
            android:exported="false"/>
        <activity
            android:name=".Wishlist.WishlistFormActivity"
            android:exported="false"/>
    </application>

</manifest>